_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

Gemfile.lock

# Presently using some Bootstrap items from here but need to decide better how to manage any assets in node modules...
# node_modules

.DS_Store

node_modules