---
layout: default
---


<img src="{{site.url}}/img/vendors.png">

<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
          <p class="title">Oh Hello There</p>
          <p class="subtitle">{{ site.description }}</p>
<img src="{{site.url}}/img/vendors.png">
          <div>            <a class="button snipcart-checkout">
                        <strong><ion-icon name="logo-github"></ion-icon>
 GitHub</strong>
                      </a>

</div>

        </article>

          <!-- Most recent blog post -->
          <article class="tile is-child">
            {% for post in site.posts %}
            {{post.date | date_to_long_string }}
            <a href="{{ post.url }}">
            <p class="title">{{ post.title }}</p>
            </a>
            <p class="subtitle has-text-grey-lighter">{{ post.categories }}</p>
            <p>{{ post.excerpt | truncatewords: 15 }}</p>
              {% endfor %}
          </article>

      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          {% for product in site.products limit: 1 %}
          <p class="title">{{ product.title }} - ${{ product.price }}</p>
          <p class="subtitle">{{ product.description | truncatewords:35 }}</p>
          <figure class="image">
            <img src="{{ product.featured_image }}">
          </figure>
          {% endfor %}
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child">
        <div class="content">
<!--  -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>

<div class="columns">
  {% for product in site.products limit: 1 %}
    <div class="column box">
      <h1><a class="title is-1 black" href="{{ product.url }}">{{ product.title }}</a></h1>
      {{ product.description }} <br><strong>$ {{ product.price }} -</strong> <img src="{{ product.featured_image }}">
    </div>
  {% endfor %}
</div>
