---
layout: default
permalink: /products/
---

<div class="container">

  <div class="card-columns">

    {% for product in site.products %}
      <div class="card rounded-0 border-0 p-2">
        <h1><a class="text-body" href="{{ product.url }}">{{ product.title }}</a></h1>
        {{ product.description }} <br>


        {% if product.sale_price %}
        <strike><strong>$ {{ product.price }}</strong></strike>  <strong>$ {{ product.sale_price }}</strong>
        {% else %}
        <strong>$ {{ product.price }}</strong>
        {% endif %}





        <img class="img-fluid" src="{{ product.featured_image }}">
        <a href="#" class="btn btn-primary border-0 rounded-0 bg-dark">Add To Cart</a>
      </div>
    {% endfor %}

  </div>

</div>
