---
layout: default
---

<div class="container">

  <!-- post list -->
  {% for post in paginator.posts %}
  <li><a href="{{post.url | prepend: site.baseurl}}"><h3>{{post.title}}</h3></a></li>
  {% endfor %}

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>


  <nav aria-label="Page navigation example">

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <ul class="pagination">
    <li class="page-item">
      {% if paginator.previous_page %}
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% else %}
        &laquo; Prev
      {% endif %}
    </li>

      <li class="page-item">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
        {% elsif page == 1 %}
        <a  class="page-link" href="/">{{ page }}</a>
        {% else %}
        <a  class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
        {% endfor %}
      </li>

    <li class="page-item">
      {% if paginator.next_page %}
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% else %}
        <span>Next &raquo;</span>
      {% endif %}
    </li>

  </ul>
  {% endif %}

  </nav>

</div>
