---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Custom.scss

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1280px
) !default;

$dark: #000;

$font-size-base: 1.1rem !default; // Assumes the browser default, typically `16px`
$line-height-base:            1.7 !default;

// Option A: Include all of Bootstrap

@import "bootstrap";
