<!doctype html>
<html class="no-js" lang="" style="background: url({{ site.url}}/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">

<head>
  {% include head.html %}
</head>

<body>

  <!-- Add your site or application content here -->
  {% include nav.html %}

  {{ content }}

  <nav class="navbar is-fixed-bottom">
    <div class="container">
      <footer class="">
        <div class="content has-text-centered">
          <p>
            <strong>{{ site.title }}</strong> by <a href="https://joshuavaage.com">Joshua Vaage</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>
   </div>
  </nav>
  {% include scripts.html %}

</body>

</html>
