<!doctype html>
<html class="no-js" lang="">

<head>
  {% include head.html %}
</head>

<body>

  <!-- Add your site or application content here -->
  {% include nav.html %}

  {{ content }}

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="{{ site.url }}"> {{ site.title }}</a>
    </div>
    <!-- Copyright -->


  <!-- Footer -->

  <nav class="navbar is-fixed-bottom">
    <div class="container">
      <footer class="">
        <div class="content has-text-centered">
          <p>
            <strong>{{ site.title }}</strong> by <a href="https://joshuavaage.com">Joshua Vaage</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
          </p>
        </div>
      </footer>
   </div>
  </nav>

  {% include scripts.html %}

</body>

</html>
