<!doctype html>
<html class="no-js" lang="">

<head>
{% include head.html %}
</head>

{% include nav.html %}

<div class="container pt-5">
<div class="card-columns card-columns-product">
  <div class="card">
      {% include components/product/title.html %}
  </div>
  <div class="card">
      {% include components/product/price.html %}
  </div>
  <div class="card">
      {% include components/product/options.html %}
  </div>

  <div class="card">
      {% include components/product/add_to_cart.html %}
  </div>
  <div class="card">
    {{ page.description }}
  </div>

  <div class="card">
    {% include components/product/featured_image.html %}
  </div>
  <div class="card">
    {% include components/product/thumbnails.html %}
  </div>
</div>
</div>

<hr />

{% include components/product/prev_next.html %}

<hr />

<div class="container">
  <p>
    You might also like:
  </p>


  <div class="container pt-5">
  <div class="card-columns">
{% for product in site.products %}
<div class="card">
  <img src="{{ site.url }}/{{ product.featured_image }}" />
</div>
{% endfor %}


  {% for product in site.products %}
      <h2 class="border-bottom-2"><a class="text-body" href="{{ product.url }}">{{ product.title }} - <strong>$ {{ product.price }}</strong></a></h2>

  {% endfor %}

</div>

{% include scripts.html %}

</body>

</html>
